<div class="dt-toolbar-footer clearfix">
    <div class="col-md-2 col-xs-4">
        <select class="form-control input-sm" #select (change)="changeRecordsOnPage(select.value)">
            <option *ngFor="let item of recordsOnPageOptions" [value]="item"
                [attr.selected]="(item == recordsOnPage) ? true : null">{{item}}</option>
        </select>
    </div>

    <div class="col-xs-3 col-md-3 ">
        <ul class="pagination pagination-sm" style="margin:0px;">
            <li><a href="javascript:void(0)" class="" onclick="return false;">[ Show
                    {{pageDisplayInfo.from}} - {{pageDisplayInfo.to}} of {{pageDisplayInfo.records}} results ] </a></li>
        </ul>
    </div>
    <div class="col-lg-8 col-12 pr-0 text-right">
        <ngb-pagination [collectionSize]="records" [(page)]="page" [pageSize]="recordsOnPage" [rotate]="true"
            [boundaryLinks]="true" class="float-right" [maxSize]="10" (pageChange)="changePage($event)">
        </ngb-pagination>
    </div>
</div>