<mk-layout-wrapper>
  <mk-layout-sidebar-right>
    Sidebar right HTML
  </mk-layout-sidebar-right>
  <mk-layout-header>
    <mk-layout-header-logo>Logo HTML</mk-layout-header-logo>
    <mk-layout-header-logo-mini>Logo Mini HTML</mk-layout-header-logo-mini>
    Header HTML
  </mk-layout-header>
  <mk-layout-sidebar-left>
    Sidebar left HTML (just above menu)
  </mk-layout-sidebar-left>
  <mk-layout-content>
    <router-outlet></router-outlet>
  </mk-layout-content>
  <mk-layout-footer>
    <mk-layout-footer-left>
      Footer left HTML
    </mk-layout-footer-left>
    <mk-layout-footer-right>
      Footer right HTML
    </mk-layout-footer-right>
  </mk-layout-footer>
</mk-layout-wrapper>